.form {
  width: 100%;
  display: flex;
  padding: 1.4rem 1rem;
  background-color: transparent;
  border-top: 2px solid #e6e6fa66;
}
.input {
  flex: 1 0 auto;
  font-size: 1.4rem;
  padding: 0.7rem 1rem;
  border: 2px solid #e6e6fa66;
  outline: none;
  background-color: transparent;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #e6e6fa;
}
.input::placeholder {
  color: #e6e6fa;
  font-weight: bold;
}
.button {
  background-color: #e6e6fac3;
  color: #9a9999ba;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0 2rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.button:hover {
  filter: brightness(110%);
}
