.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e6e6fa66;
}
.filters {
  display: flex;
}
.filter {
  font-size: 1.4rem;
  margin: 1rem;
  text-transform: capitalize;
  background-color: transparent;
  color: #e6e6fa;
  opacity: 0.8;
  font-weight: bold;
}
.filter:hover,
.filter.selected {
  opacity: 1;
  transform: scale(1.2);
}
.filter.selected::after {
  content: "";
  display: block;
  margin-top: 0.2rem;
  border: 1px solid #e6e6fa8e;
}
