.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.1rem 0rem;
}
.checkbox {
  width: 1rem;
  height: 1rem;
}
.text {
  flex: 1 1 0%;
  color: #e6e6fa;
  font-weight: bold;
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
.icon {
  width: 26px;
  height: 26px;
}
.button {
  background-color: transparent;
  color: #e6e6fa;
}
